:root {
  /* Backgrounds */
  --color-bg-primary: #f7ece4;
  --color-bg-secondary: #4b6158;

  /* Text */
  --color-text-primary: #2b2b2b;
  --color-text-secondary: #2b2b2b80;
  --color-text-inverse: #ffffff;

  /* Accents (botones) */
  --color-accent-primary: #e57e3e;
  --color-accent-secondary: #d2d4c0;
  --color-accent-third: #cad27d;

  /* Surfaces and border */
  --color-surface: #fffaf5;
  --color-surface-soft: #f1e4d8;
  --color-border: #d8c8ba;

  /* Brand color */
  --color-brand: #4f6d63;
  --color-brand-hover: #3f5a51;

  /* Effects */
  --shadow-soft: 0 10px 30px rgba(47, 42, 38, 0.08);

  /* Radius */
  --radius-m: 1rem;
  --radius-l: 1.5rem;

  /* Spacing */
  --space-1: 0.25rem;
  --space-2: 0.5rem;
  --space-3: 1rem;
  --space-4: 1.5rem;
  --space-5: 2rem;

  /* Design form */
  --color-design-bg: #f7ece4;
  --color-design-hover: #d2d4c0;
  --color-design-img: #ffffff;

  /* Card */
  .palette0,
  #palette0 {
    //default
    --form-color-bg: #d2d4c0;
    --form-color-text: #50570f;
    --form-color-accent: #4f6d63;
  }

  /*Dejo comentada la paleta por si queremos rescatarlos*/
  // .palette1, #palette1 {
  //   --form-color-bg: #f0a8c6;
  //   --form-color-text: #570f2d;
  //   --form-color-accent: #e0528d;
  // }

  .palette1,
  #palette1 {
    --form-color-bg: #a8f0df;
    --form-color-text: #00674f;
    --form-color-accent: #d4af37;
  }

  .palette2,
  #palette2 {
    --form-color-bg: #c5a8f0;
    --form-color-text: #2c0f57;
    --form-color-accent: #9ceaaf;
  }
  .palette3,
  #palette3 {
    --form-color-bg: #2e4756;
    --form-color-text: #a4bfeb; 
    --form-color-accent: #9b6a6c;
  }
}
