:root {
  /* Backgrounds */
  --color-bg-primary: #f7ece4;
  --color-bg-secondary: #4b6158;

  /* Text */
  --color-text-primary: #2b2b2b;
  --color-text-secondary: #2b2b2b80;
  --color-text-inverse: #ffffff;

  /* Accents (botones) */
  --color-accent-primary: #e57e3e;
  --color-accent-secondary: #d2d4c0;
  
  /* Surfaces and border */
  --color-surface: #fffaf5;
  --color-surface-soft: #f1e4d8;
  --color-border: #d8c8ba;

  /* Brand color */
  --color-brand: #4f6d63;
  --color-brand-hover: #3f5a51;
  
  /* Effects */
  --shadow-soft: 0 10px 30px rgba(47, 42, 38, 0.08);

  /* Radius */
  --radius-m: 1rem;
  --radius-l: 1.5rem;

  /* Spacing */
  --space-1: 0.25rem;
  --space-2: 0.5rem;
  --space-3: 1rem;
  --space-4: 1.5rem;
  --space-5: 2rem; 

  /* Design form */
  --color-design-bg: #f7ece4;
  --color-design-hover: #d2d4c0;
  --color-design-img: #ffffff;
  
  /* Card */
  #palette0 { //default
    --form-color-bg: #F5F5F5;
    --form-color-text: #1A1A1A;
    --form-color-accent: #9E9E9E;
  }
  #palette1 {
    --form-color-bg: #cad27d;
    --form-color-text: #5A5A5A;
    --form-color-accent: #B8E1DD;
  }
  #palette2 {
    --form-color-bg: #4b6158;
    --form-color-text: #0A0A0A;
    --form-color-accent: #9ceaaf;
  }
  #palette3 {
    --form-color-bg: #e57e3e;
    --form-color-text: #3E3E3E;
    --form-color-accent: #A3B18A;
  }
}
