@use '../common/variables' as vars;
@use '../common/reset' as reset;
form{
    width: 100%;
}
.design_fieldset{
    border: none;
    margin-bottom: 2rem;
    padding: 0;
}
legend {
   // font-size: 14px;
    font-weight: 600;
    margin-bottom: 10px;
}
.custom-select {
    position: relative;
    width: 100%;
}
.design_selected {
    display: flex;
  align-items: center;
  gap: 8px;
    padding: 1rem;
    //border-radius: 12px;
    border: 1px solid #ddd;
    cursor: pointer;
    background-color: var(--color-bg-secondary);
}
.design_options {
    display: none;
    position: absolute;
    width: 100%;
    margin-top: 5px;
    border-radius: 12px;
    background: white;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}
.option {
    padding: 14px;
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}
.color {
    width: 16px;
    height: 16px;
}
input, button {
    width: 50%;
    padding: 14px;
    border-radius: 12px;
    border: 1px solid #ddd;
}
button {
    background: rgb(250, 146, 146);
    color: white;
}