.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  border-bottom: 2px solid var(--color-bg-secondary);
  padding: 20px;
  background-color: var(--color-fill-surface);

  @media (width > 768px) {
    padding-inline: 2rem;
  }

  @media (width > 1228px) {
    justify-content: space-around;
  }

  &__name {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  &__logo {
    width: 36px;

    @media (width > 768px) {
      width: 40px;
    }
  }

  &__title {
    font-size: 1rem;
    color: var(--color-bg-secondary);

    @media (width > 768px) {
      font-size: 1.15rem;
    }
  }

  &__menu-hamb {
    border: none;
    background-color: transparent;
    font-size: 20px;
    cursor: pointer;

    @media (width > 768px) {
      display: none;
    }
  }

  &__menu {
    position: absolute;
    top: 100%;
    right: 0;
    display: none;
    flex-direction: column;
    padding: 1rem;
    border: 2px solid var(--color-bg-secondary);
    background-color: var(--color-bg-primary);

    @media (width > 768px) {
      position: static;
      display: flex;
      flex-direction: row;
      gap: 1rem;
      padding: 10px;
      border: none;
      color: var(--color-bg-secondary);
    }
  }

  &__menu.is-open {
    display: flex;
  }

  &__link {
    padding-block: 0.15rem;
    padding-inline: 0.35rem;
    text-decoration-line: none;
    color: var(--color-bg-secondary);
    font-weight: 600;
    text-transform: uppercase;
    transition:
      background-color 0.2s ease,
      color 0.2s ease;

    &:hover {
      color: var(--color-bg-primary);
      background-color: var(--color-bg-secondary);
    }
  }
}
