<footer class="footer">
  <p class="footer__copy">
    &copy; 2026 Proyecto <strong>Refugio Adalab</strong>.
  </p>
  <ul class="footer__list">
    <li class="footer__item">
      <a
        class="footer__link"
        href="https://github.com/CrisOnWeb"
        target="_blank"
        rel="noopener"
        >Cris - <strong>@CrisOnWeb</strong></a
      >
    </li>
    <li class="footer__item">
      <a
        class="footer__link"
        href="https://github.com/eesser98"
        target="_blank"
        rel="noopener"
        >Emma - <strong>@eesser98</strong></a
      >
    </li>
    <li class="footer__item">
      <a
        class="footer__link"
        href="https://github.com/letivsan"
        target="_blank"
        rel="noopener"
        >Leti - <strong>@letivsan</strong></a
      >
    </li>
    <li class="footer__item">
      <a
        class="footer__link"
        href="https://github.com/Mari2navarro"
        target="_blank"
        rel="noopener"
        >Mari - <strong>@Mari2navarro</strong></a
      >
    </li>
    <li class="footer__item">
      <a
        class="footer__link"
        href="https://github.com/Susana-Gl"
        target="_blank"
        rel="noopener"
        >Susana - <strong>@Susana-Gl</strong></a
      >
    </li>
    <li class="footer__item">
      <a
        class="footer__link"
        href="https://github.com/idontwanttobeanurseanymore"
        target="_blank"
        rel="noopener"
        >Marta - <strong>@idontwanttobeanurseanymore</strong></a
      >
    </li>
  </ul>
  <a
    class="footer__link--project"
    href="https://github.com/CrisOnWeb/project-promo-66-module-2-team-1"
    target="_blank"
    rel="noopener"
    ><i class="fa-brands fa-github footer__icon--gh"></i
    ><span class="footer__project">Ver en <strong>GitHub</strong></span></a
  >
</footer>
