<header class="header">
  <div class="header__name">
    <img
      class="header__logo"
      src="/imgs/logo.png"
      alt="Logo de Refugio Adalab"
    />
    <h1 class="header__title">REFUGIO ADALAB</h1>
  </div>
  <button class="header__menu-hamb" aria-label="Botón de menú">☰</div>
  <nav class="header__menu">
    <a class="header__link" href="./index.html">Inicio</a>
    <a class="header__link" href="./create.html">Diseña</a>
    <a class="header__link" href="#">Sobre nosotras</a>
  </nav>
</header>
