<div class="preview">
  <div id="previewCard" class="preview__card js_previewCard">
    <div class="preview__info js_previewInfo">
      <p class="preview__name js_nameValue"><span>Nala</span>,</p>
      <p class="preview__age js_ageValue"><span>4 años</span></p>
    </div>
    <div class="preview__imgContainer">
      <div class="preview__img js_imgValue js__profile-image"></div>
      <!-- <img class="preview__img js_imgValue" src=".\imgs\images.jfif" /> -->
    </div>
    <div class="preview__content">
      <div class="preview__features">
        <p class="preview__breed js_breedValue">
          <i class="fa-solid fa-paw"></i> <span>Mestizo</span>
        </p>
        <p class="preview__weight js_weightValue">
          <i class="fa-solid fa-weight-hanging"></i> <span>15</span> kg
        </p>
      </div>
      <div class="preview__descContainer">
        <p class="preview__desc js_descriptionValue">
          Juguetona, cariñosa. Buena con personas y perros. Ideal para una casa
          con niños o gatos.
        </p>
        <!-- Añadido enlace a Instagram  -->
        <!-- target="_blank" abre en nueva pestaña
            noopener protege la página
            noreferrer protege la privacidad -->
        <a
          class="facebookValue js_facebookValue"
          href="#"
          target="_blank"
          rel="noopener noreferrer"
          >https://nala.com</a
        >
      </div>
    </div>
  </div>
</div>
