<div class="previewContainer">
  <div id="previewCard" class="previewCard">
    <div class="petInfo">
      <p class="nameValue js_nameValue">NALA</p>
      <p class="ageValue js_ageValue">2 años</p>
    </div>
    <div class="imageContainer">
      <img class="imageValue js_imgValue" src=".\imgs\images.jfif" />
    </div>
    <div class="cardContent">
      <div class="cardInfo">
        <p class="breedValue js_breedValue">
          <i class="fa-solid fa-paw"></i> Mestizo
        </p>
        <p class="weightValue js_weightValue">
          <i class="fa-solid fa-weight-hanging"></i> 15 kg
        </p>
      </div>
      <div>
        <p class="temperValue js_temperValue">
          Juguetona, cariñosa. Buena con personas y perros. Ideal para una casa
          con niños o gatos
        </p>
      </div>
    </div>
  </div>
</div>
