<section>PREVIEW</section>

<div class="previewContainer">
        <div id="previewCard" class="previewCard">
            <div class="petInfo">
          <p class="nameValue">NALA</p>
          <p class="ageValue">2 años</p>
            </div>
          <div class="imageContainer">
              <img class="imageValue" src=".\imgs\images.jfif" />
            </div>
            <div class="cardContent">
            <div class="cardInfo">
              <p class="breedValue"><i class="fa-solid fa-paw"></i> Mestizo</p>
              <p class="weightValue"><i class="fa-solid fa-weight-hanging"></i> 15 kg</p>
          </div>
          <div>
            <p class="temperValue">Juguetona, cariñosa. Buena con personas y perros. Ideal para una casa con niños o gatos</p>
          </div>
        </div>