<fieldset class="design_fieldset">
    <legend class="design_text">1. Elige tu diseño:</legend>
    <div class="custom_select js_customSelect">
        <div class="design_selected js_selectedDesign"></div>

        <div class="design_options js_optionsDesign">
            <div class="option js_designDefault js_option" data-value="default"> Diseño por defecto
                <span class="color" style="background-color: #dfd6d6"></span>
                <span class="color" style="background-color: #000000"></span>
                <span class="color" style="background-color: #7e6868"></span>
            </div>
            <div class="option design_option1 js_option" data-value="pastel"> Diseño pastel
                <span class="color" style="background-color: #E5635F"></span>
                <span class="color" style="background-color: #9ABEF2"></span>
                <span class="color" style="background-color: #F1DB7E"></span>
            </div>
            <div class="option design_option2 js_option" data-value="electrico"> Diseño eléctrico
                <span class="color" style="background-color: #0015ff"></span>
                <span class="color" style="background-color: #aa00ff"></span>
                <span class="color" style="background-color: #ff5900"></span>
            </div>
            <div class="option design_option3 js_option"data-value="neutro"> Diseño neutro
                <span class="color" style="background-color: #8b5a31"></span>
                <span class="color" style="background-color: #bab531"></span>
                <span class="color" style="background-color: #3f8745"></span>
            </div>
        </div>
    </div>
    <input type="hidden" name="design_hidden" class="design_hidden js_hiddenDesign" id="design_hidden">
    <button class="btn js_btn" type="submit">Este me gusta!</button>
</fieldset>