<section class="share js_shareSection hidden">
  <h2 class="share__title">Comparte</h2>

  <div class="share__container">
    <button class="share__create__btn" type="button">✨ Crear tarjeta</button>

    <div class="share__result">
      <p class="share__result__title">La tarjeta ha sido creada:</p>

      <a href="#" target="_blank" class="share__link">
        https://tarjeragenerada
      </a>

      <button class="share__facebook__btn">📸 Compartir en Instagram</button>
    </div>
  </div>
</section>
